@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

nav {
	height: 30px;
	width: 100%;
	background-color: yellow;
	/* position: fixed; */
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float:left;
	padding:0px 20px;
	height: 30px;
	line-height: 30px; /* life-style이 2개~ */
	display: block;
	list-style: none;
}
.main{
	margin: 0 auto;
	width: 900px;
	height: auto;
	padding: 10px;
}